div {
    & > span {
        & > a {
            &:hover {
                color: green;
            }
        }
    }
}

nav {
    & > ul {
        & > li {
            & > a {
                & {
                    color: gray;
                    
                }
            }
        }
    }
}

& {
    color: green;
}